<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Nova Receita</h3>
    <form>
      <div class="form-group">
        <label for="recipe-name">Nome da receita</label>
        <input [(ngModel)]="recipe.name" name="recipe-name" placeholder="Nome da receita" class="form-control input-lg" />
      </div>
      <div class="form-group">
        <label>Ingredientes</label>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.quantity}} {{ingredient.name}}</li>
        </ul>
        <div class="row">
          <div class="col-xs-7">
            <input class="form-control" type="text" [(ngModel)]="ingredient.name" name="ingredient-name">
          </div>
          <div class="col-xs-3">
            <input class="form-control" type="number" [(ngModel)]="ingredient.quantity" name="ingredient-quantity">
          </div>
          <div class="col-xs-2">
            <button class="btn btn-block btn-sm btn-default" (click)="addIngredient(ingredient)">+</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="recipe-method">Modo de preparo</label>
        <textarea class="form-control" name="recipe-method" placeholder="" [(ngModel)]="recipe.method" ></textarea>
      </div>
      <button type="button" class="btn btn-info" (click)="createRecipe()">Criar Receita</button>
    </form>
  </div>
</div>