<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <!-- <input name="search-recipes" placeholder="Procure pelos ingredientes separado por vírgu" class="form-control input-lg input-block" /> -->
        <div class="input-group">
          <input type="text" class="form-control input-lg" placeholder="Procure pelos ingredientes separados por vírgula">
          <span class="input-group-btn">
            <button class="btn btn-default btn-lg" type="button"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>