<form>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <label for="ingredient-name">Cadastro de ingrediente</label>
        <div class="row">
          <div class="col-xs-9">
            <input name="ingredient-name" type="text" class="form-control" [(ngModel)]="ingredient.name">
          </div>
          <div class="col-xs-3">
            <button class="btn btn-info btn-block" (click)="createIngredient()">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
