<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Menu da Semana</h3>
  </div>
  <div class="panel-body">
    <div *ngFor="let dayOfTheWeek of daysOfTheWeek">
      <h4><strong>{{ dayOfTheWeek.label }}</strong></h4>
      <p *ngFor="let recipe of menu[dayOfTheWeek.key]">
        {{ recipe.recipe.name }}
        <button class="btn btn-sm btn-default pull-right" (click)="removeRecipe(menu[dayOfTheWeek.key], recipe)"><i class="glyphicon glyphicon-trash"></i></button>
      </p>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lista de compras</h3>
  </div>
  <div class="panel-body">
    <div *ngFor="let menu of menus">
      <div *ngFor="let ingredient of menu.recipe.ingredients">
        {{ ingredient.name }}
      </div>
    </div>
  </div>
</div>
