<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My CookBook</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a (click)="login()">Login</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <edit-menu></edit-menu>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <new-recipe></new-recipe>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
<!--         <div class="col-md-12">
          <search-recipes></search-recipes>
        </div>
 -->        <div class="col-md-12">
          <list-recipes>Loading...</list-recipes>
        </div>
      </div>
    </div>
  </div>
</div>
